
html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	background-image: none;
	background-color: transparent;
	
	
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@media (max-width: 920px) {
	.container {
		padding: 0 20px;
	}
}

.main {
	max-width: 740px;
	width: 100%;

	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 0.4s ease;
	&.--quit {
		.inputBox {
			transform: translate(0px, 20px);
		}
		opacity: 0;
	}

	#title {
		font-size: 1.75rem;
	}

	.describe {
		margin: 0;
	}

	.inputBox {
		position: relative;
		padding: 0px;
		margin: 20px 0 37px 0;
		overflow: hidden;

		&::before {
			content: 'MarkDown';
			font-family: 'Ubuntu_and_JetBrainsMono';
			font-size: 11px;
			position: absolute;
			left: 12px;
			bottom: 7px;
			color: #7F7F7F80;
		}

		#mainMsgInp {
			display: block;
			outline: none;
			border-radius: 0;
			background-color: #00000000;
			width: 100%;
			height: fit-content;
			min-height: 105px;
			padding: 16px;
			padding-bottom: 52px;
			font-size: 0.875rem;
			outline: 0;

			&:empty::before{
				content: attr(placeholder);
				color: var(--t);
			}

			img {
				display: block;
				max-height: 15vh;
				min-height: 64px;
				min-width: 64px;
				max-width: 30%;
				width: fit-content;
				border-radius: 7px;
				margin: 7px;
				-webkit-user-drag: auto;
			}
		}

		.btn {
			position: absolute;
			right: 14px;
			bottom: 14px;

			&:hover {
				filter: brightness(104%);
			}
			&:active {
				filter: brightness(94%);
			}

			&.tool {
				right: 52px;
				color: var(--a1);
			}
		}

		#mainToolBox {

			padding: 0 92px 14px 20px;
			position: absolute;
			bottom: 0;
			width: 100%;
			display: flex;
			flex-direction: row-reverse;
			pointer-events: none;

			.btn {
				pointer-events: auto;
				position: unset;
				color: var(--a1);
			}

			opacity: 1;
			transform: translate(0px, 0px);
			&.--quit {
				padding-right: 78px;
				opacity: 0;
				pointer-events: none;
				transform: translate(0px, 45px);
			}
		}
	}

	#msgList {
		
		padding: 32px 0 32px 0;

		.li {
			content-visibility: auto;
			width: calc(100% + 64px);
			margin: -64px 0 0 -32px;
			padding: 32px;

			height: 0px;
		}

		.msg {
			box-shadow: 0 15px 35px rgb(50 50 93 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
			padding: 8px 14px;
			border-radius: 14px;
			display: table;
			margin: 0 0 25px 0;
			width: fit-content;
			backdrop-filter: blur(2px);
			overflow: hidden;

			&.user {
				min-width: 50px;
				margin-left: auto;
				background-color: #06b0ffd1;
				color: var(--a0);
			}

			&.ai {
				background-color: #f7f7f7b1;
			}

			&.loading {
				background-color: #f7f7f7b1;
				
				&::before {
					content: '[/]';
					
					animation-fill-mode: forwards;
					animation: aiLoading 0.85s infinite;
				}
			}

			&.single_img {
				padding: 0;
				img {
					margin: 0;
				}
			}

			&:hover {
				filter: brightness(101%);
			}

			/* 使其与普通网页一致, 但可能不适合对话框 */
			/* & > span {
				margin: 15px 0;

				&:first-child {
					margin-top: 5px !important;
				}
				&:last-child {
					margin-bottom: 5px !important;
				}
			} */

			div.at, div.reply {
				position: absolute;
				width: min-content;
				height: min-content;
				padding: 2.4px;
				top: 7px;
				left: 7px;
				border-radius: 100%;
				box-shadow: 0px 3px 17px 2px rgb(50 50 93 / 10%), 0 2px 5px rgb(0 0 0 / 7%);

				&.at {
					background-color: var(--e);
				}

				&.reply {
					left: 15px;
					background-color: var(--g);
				}
			}

			img {
				display: block;
				max-height: 20vh;
				min-height: 128px;
				min-width: 128px;
				max-width: 100%;
				width: fit-content;
				border-radius: 7px;
				margin: 7px;
				-webkit-user-drag: auto;
				/* background-color: #5dccff17; */
				box-shadow: 0px 3px 17px 2px rgb(50 50 93 / 10%), 0 2px 5px rgb(0 0 0 / 7%);

				&.mface {
					max-height: 15vh;
					-webkit-user-drag: none;
				}
			}

			p {
				margin: 15px 0;
			}

			hr {
				margin: 0.7em 10px;
				height: 2px;
			}

			code {
				padding: 1.5px 5px;
				line-height: 25px;
				background-color: #7ad5ff12;
				white-space: pre-wrap;
				word-break: break-all;
				border-radius: 7px;
			}

			pre {
				tab-size: 4;
				font-size: 14px;
				position: relative;

				.btn {
					position: absolute;
					right: 9px;
					top: 9px;
					background-color: #ffffff70;
					color: var(--greyAuto);
					opacity: 0.4;
				}
				&:hover {
					.btn {
						opacity: 0.8;
					}
				}

				code {
					display: block;
					padding: 10px;
					box-shadow: 0px 3px 17px 2px rgb(50 50 93 / 10%), 0 2px 5px rgb(0 0 0 / 7%);
				}
			}

			ul {
				padding-inline-start: 30px;
				li::marker {
					color: #7F7F7F;
				}
				&:first-child&:last-child {
					padding-inline-start: 25px;
					padding-right: 10px;
				}
			}

			ol {
				li::marker {
					color: #7F7F7F;
				}
			}

			ol, ul {
				ol, ul {
					padding-left: 16px;
				}
			}

			blockquote {
				margin: 7px 0;
				padding: 0 1rem;
				border-left: 3px solid var(--c);
				color: #7f7f7f;
			}

			input {
				width: 12px;
				height: 12px;
				margin: -1px;
				appearance: none;
				border-radius: 0;
				border: 2px solid var(--t);

				&:checked {
					border: 5px double var(--t);
				}
			}

			table {
				border-collapse: collapse;
				width: fit-content;
				margin: 7px;
				box-shadow: 0px 3px 17px 2px rgb(50 50 93 / 10%), 0 2px 5px rgb(0 0 0 / 7%);
				border-radius: 7px;

				th, td {
					padding: 8px 16px;
					/* border: 1px solid var(--t); */
				}

				th {
					background-color: var(--cT);
					color: var(--c);
				}

				tr:first-child {
					th {
						&:first-child {
							border-top-left-radius: 7px;
						}
						&:last-child {
							border-top-right-radius: 7px;
						}
					}
				}

				tr:last-child {
					td {
						&:first-child {
							border-bottom-left-radius: 7px;
						}
						&:last-child {
							border-bottom-right-radius: 7px;
						}
					}
				}
			}

			a {
				text-decoration: underline 1.5px;
			}

			.mdEmoji {
				&::after, &::before {
					content: ':';
					opacity: 0.85;
				}
			}

			opacity: 1;
			transition: all 0.4s ease;
			&.--quit {
				transform: translate(0px, -25px);
				background-color: var(--cT) !important;
				opacity: 0;
				* {
					opacity: 0;
				}
				input {
					border-color: transparent !important;
				}
			}
		}

		opacity: 1;
		&.--clear {
			transition: all 1.2s ease;
			opacity: 0;
			transform: translate(0px, 100vh);
		}
	}
}

@media (prefers-color-scheme: light) {
	html {
		scrollbar-color: #7F7F7F80 #F7F7F7;
	}
	body {
		background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 97%, 1)'/><path d='M10-6V6M10 14v12M26 10H14M6 10H-6'  stroke-linecap='square' stroke-width='1' stroke='hsla(208, 100%, 51%, 0.12)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
	}

	.btn {
		background-color: var(--a0);
	}

	.main {
		.inputBox {
			.btn {
				&.send {
					background-color: var(--c);
				}
			}
		}
		#msgList {
			.msg {
				&.user {
					::selection {
						background: #ffffff42;
					}
					code {
						background-color: #E6F2F8;
						&::selection, *::selection {
							background: #34beff33;
						}
					}
					li::marker {
						color: #dee7ec;
					}
					input {
						border-color: #dee7ec;
						&:checked {
							border-color: #dee7ec;
						}
					}
					table td, img {
						background-color: #dedede17;
					}
					a {
						color: #142df2cc;
					}
				}
			}
		}
	}

	.btn.toTop {
		background-color: var(--c);
	}
}
@media (prefers-color-scheme: dark) {
	html {
		scrollbar-color: #62626280 #0C1017;
	}
	body {
		background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(218, 30%, 7%, 1)'/><path d='M10-6V6M10 14v12M26 10H14M6 10H-6'  stroke-linecap='square' stroke-width='1' stroke='hsla(208, 100%, 51%, 0.12)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
	}

	.btn {
		background-color: #212121d1;
	}

	.main {
		.inputBox {
			.btn {
				&.send {
					background-color: #15559ad4;
				}
			}
		}
		#msgList {
			.msg {
				&.user {
					background-color: #15559ad4;
					color: var(--a1);
					/* border: var(--c) solid 1px; */
				}
				&.ai {
					background-color: #212121d1;
					/* border: var(--e) solid 1px; */
				}
				&.loading {
					background-color: #212121d1;
					/* border: var(--e) solid 1px; */
				}
				pre {
					.btn {
						background-color: rgba(33, 33, 33, 0.82);
					}
				}
				table td, img {
					background-color: #4747472e;
				}
			}
		}
	}
	.btn {
		border: 1.5px solid var(--c);
	}
}


@keyframes aiLoading {
	33.33% {
		content: '[/]';
	}
	66.66% {
		content: '[-]';
	}
	100% {
		content: '[\\]';
	}
}

p, pre, h1, h2, h3, h4, h5, h6 {
	&:first-child {
		margin-top: 5px !important;
	}
	&:last-child {
		margin-bottom: 5px !important;
	}
}

.btn.toTop {
	width: 32px;
	height: 32px;
	position: fixed;
	bottom: 64px;
	right: -47px;
	z-index: 1;

	opacity: 0;
	&.--join {
		opacity: 1;
		right: 20px;
	}
}


dialog {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #00000000;
	border: none;
	outline: none;
	color: var(--a1);

	&:-internal-dialog-in-top-layer::backdrop{
		background: none;
	}

	* {
		border: none;
		outline: none;
	}

	transition: all .2s ease;

	.modal {
		position: fixed;
		height: 100vh;
		width: 100%;
		backdrop-filter: blur(0px);
		pointer-events: none;

		.box {
			transform: translate(0px, 70px) rotate(10deg);
			opacity: 0;
			width: 100%;
			max-width: 370px;
			margin: 30vh auto 0 auto;
		}

		&.--open {
			backdrop-filter: blur(2px);
			pointer-events: auto;

			.box {
				opacity: 1;
				transform: translate(0px, 0px) rotate(0deg);
			}
		}
		
	}
}

.paddingLeft15 {
	padding-left: 15px;
}

h1, h2, h3, h4, h5, h6 {
	display: table;
	padding: 0 10px 0 10px;
	margin-bottom: 12px;
	background: linear-gradient(#00000000 50%, var(--cT) 0);
	color: var(--c);
}

p.code {
	background-color: #5dccff17;
	padding: 2px 7px;
	box-shadow: 0 10px 20px rgb(50 50 93 / 1%), 0 5px 15px rgb(0 0 0 / 1%);
	color: var(--c);
	user-select: all;
}

.btn {
	user-select: none;
	border: none;
	
	display: block;
	margin: 0;
	width: 28px;
	height: 27px;
	border-radius: 30%;

	&.--light {
		background-color: var(--e) !important;
		color: #fff !important;
	}
	&.--ban {
		background-color: #555555 !important;
		pointer-events: none !important;
	}
}
